@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Open Sans", sans-serif;
  background: #040404;
}

label {
  position: relative;
}

label input {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #f9f9f9;
  background: transparent;

  padding: 1rem 1.2rem;
  min-width: 24rem;

  border-radius: 0.2rem;
  border: 2px solid #7a7a7a56;

  transition: border-color 0.2s;
}

label input::selection {
  background: #7a7a7a56;
}

label p {
  color: #f9f9f9;
  font-size: 1rem;
  user-select: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  margin-left: 0.8rem;
  padding: 0 0.4rem;

  background: #040404;

  transition: top 0.2s, font-size 0.2s, color 0.2s;
}

label input:not(:placeholder-shown) {
  border-color: #ff4754;
}

label input:not(:placeholder-shown) + p {
  top: 0;
  font-size: 0.9rem;
  color: #ff4754;
}

label input:placeholder-shown + p {
  color: #7a7a7a56;
}

button {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
  user-select: none;

  margin-top: 1.2rem;
  padding: 1rem 1.2rem;
  min-width: 24rem;

  border-radius: 0.2rem;
  background: #ff4754;
  color: #040404;

  transition: opacity 0.2s;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}
